/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

html, body {
    background-color: #E9E9E9;
    overflow-x: hidden;
}

/* END GLOBAL */

/* HEADER AND ALERT */
header {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 10%;
    background-color: #1E1E1E;
}

.logo {
    text-decoration: none;
}

header span {
    font-size: 24px;
    font-weight: 800;
    color: #FFF;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 49px;
    left: 0;
    z-index: 999;
    padding: 5px;
    color: #1E1E1E;
    background-color: #F4A261;
    width: 100vw;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.scrolling-alert {
    display: flex;
    width: max-content;
    animation: slide-left 100000s linear infinite;
}

.item {
    padding: 0;
    white-space: nowrap;
}

@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* END HEADER AND ALERT */

/* INFO BOOK SECTION */

.section-info-book {
    display: flex;
    gap: 10px;
    width: 100vw;
    height: auto;
    padding: 120px 500px 0 10%;
}

.container-info-book {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}

.info-book-left {
    display: flex;
    flex-direction: column;
}

.info-book-left {
    width: 50%;
}

.info-book-left .fildelabel {
    margin: 15px 0 5px 0;
    color: #1E1E1E;
    font-weight: 500;
}

.info-book-left .info-book-inputs {
    padding: 20px;
}

.info-book-left .info-book-selects {
    padding: 20px;
}

.info-book-right {
    display: flex;
    flex-direction: column;
}

.info-book-right {
    width: 50%;
}

.info-book-right .fildelabel {
    margin: 15px 0 5px 0;
    color: #1E1E1E;
    font-weight: 500;
}

.info-book-right .info-book-inputs {
    padding: 20px;
}

.info-book-right .info-book-selects {
    padding: 20px;
}

/* END INFO BOOK SECTION */

/* BOOK SIZE SECTION */

.section-book-size {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 50px 500px 0 10%;
}

.container-book-size {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}

.book-size-text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}

.select-sizes {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.select-size {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F4A261;
    border-radius: 4px;
    padding: 20px;
}

.select-size input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.select-size label {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

/* END BOOK SIZE SECTION */

/* PAGE MARKER SECTION */

.section-page-marker {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 50px 500px 0 10%;
}

.container-page-marker {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}

.page-marker-text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}

.select-markers {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.select-marker {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F4A261;
    border-radius: 4px;
    padding: 20px;
}

.select-marker input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.select-marker label {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

/* END PAGE MARKER SECTION */

/* SHRINK SECTION */

.section-shrink {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 50px 500px 0 10%;
}

.container-shrink {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 15px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
}

.shrink-text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}

.select-shrinks {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.select-shrink {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F4A261;
    border-radius: 4px;
    padding: 20px;
}

.select-shrink input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.select-shrink label {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}